name: vanagon mend

on:
  push:
    branches:
    - main
  schedule:
    - cron: '8 8 * * *'
  workflow_dispatch:

jobs:
  mend_vanagon:
    strategy:
      matrix:
        vanagon_projects: ['pl-curl', 'pl-build-tools', 'pl-gcc8', 'pl-gettext', 'pl-toolchain',
                           'pl-openssl', 'pl-gcc12', 'pl-ruby', 'pl-gcc', 'pl-binutils', 'pl-libffi',
                           'pl-perl', 'pl-yaml-cpp', 'pl-make', 'pl-pdcurses', 'pl-zlib', 'pl-tar',
                           'pl-gdbm', 'pl-autotools', 'pl-iconv', 'pl-rust', 'pl-boost', 'pl-pkg-config',
                           'pl-cmake']
    uses: puppetlabs/phoenix-gha-private/.github/workflows/mend-vanagon.yaml@main
    with:
      mend_product_name: Puppet Enterprise
      vanagon_project: {{ matrix.vanagon_projects }}
      vanagon_platform: el-9-x86_64
    secrets: inherit